<h1>StarWars films </h1>
<mat-divider></mat-divider>
<br>

<mat-grid-list [cols]="1" *ngIf="swFilms.length==0; else divFilms">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divFilms>

    <div class="box">
        <!-- <mat-card *ngFor=" let swFilm of swFilms" class="flex-items"> -->
        <div class="flex-items" *ngFor=" let swFilm of swFilms">
            <app-starwars-film [swFilm]="swFilm"></app-starwars-film>
        </div>

    </div>
</ng-template>